.content {
  max-width: 700px;
}

#widerimg {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-left: -100px;
  margin-right: 100px;
}

.nav-links a:hover {
  color: #000;
}

.article-date {
  color: #999999;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999999;
  font-size: 18px;
  transition: transform 150ms ease-out;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #0095eb;
  transform: scale(1.1);
}

blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left: 5px solid #ddd;
}

img {
  max-width:100%;
  height:auto;
  border:0;
  display: block;
  border-radius:4px;
  margin:auto;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
    background-color: rgba(0, 0, 0, 0.05);
}

/*default #ddd*/
.nav-links .active a, .nav-links a:hover, .nav-links a:focus {
  border-bottom: 2px solid #0095eb;
  padding-bottom: 2px;
}

.article-content a {
  border-bottom: 1px solid #CBF8DF;
  box-shadow: inset 0 -2px 0 #CBF8DF;
}

.article-content img, iframe {
  max-width: 100%;
}

#article-nav, .article-date {
  display: flex;
  align-items: stretch;
  clear: both;
}

#article-nav {
  margin-bottom: 15px;
}

#article-nav-older, #article-nav-newer, .article-date span {
  flex: 1;
}

#article-nav-newer, .article-date .article-toolbar {
  text-align: right;
}

.article-nav-link-wrap {
  display: block;
  text-decoration: none;
}

.article-toolbar a {
  margin-left: .2em;
}

.article-toolbar a:hover, .article-toolbar a:focus {
  color: #222;
}

.article-content {
  hyphens: auto;
}

code {
  hyphens: none;
}

iframe, twitterwidget {
  display: block;
  margin: auto;
}

.article-subtitle {
  font-size: .8em;
  color: #696969;
}

h1 .article-subtitle {
  display: block;
}

#TableOfContents {
  background-color: #f8f8f8;
}

#TableOfContents ul {
  padding-top: .5em;
  padding-bottom: .5em;
}

table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

tbody tr:nth-child(even) {
   background-color: #edeeef;
}

table thead th {
  border-bottom: 1px solid #e8e8e8;
}

main {
  display: block;
}

pre .nohighlight {
  border: 1px solid #f3f3f3;
  display: block;
  padding: .5em;
  overflow-x: auto;
}

pre code {
  display: block;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #eee;
  padding: 1em;
  overflow-x: auto;
  line-height: 1.75;
}

.footnotes {
  font-size: .9em;
}

.archive {
  line-height: 1em;
}

.archive-title {
  font-size: 32px;
  margin-top: 40px;
}

.archive-item-date {
  color: #999999;
  display: block;
  font-size: 19px;
  text-align: left;
  float: left;
  width: 100px;
}

.archive-item-link {
  margin-left: .8em;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .archive {
    line-height: 0.8em;
    text-align: left;
  }

  .archive-title {
    font-size: 19px;
  }

  .archive-item-date {
    text-align: left;
    float: left;
    font-size: 13px;
    max-width: 15%;
  }

  .archive-item-link {
    text-overflow: ellipsis;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
  }
}

